.navlink{
     text-decoration: none;
}
.head-dev{
   background-image:url('chair-3.jpg');
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height:50vw;
    position: relative;
}

.navba{
    padding:45px;
    display:flex;
    justify-content: space-between;
    width:80%;
   margin: auto;
  
}
.navba img{
    margin-top:5px;
    height:23px;
    width:35px;
    cursor: pointer;
}
.navbar_menu{
  display:flex; 
  gap:46px; 
}
.icons_di{
  display:flex; 
  gap:40px; 
}
.head-dev h1 {
    color: #FFFFFF;
}
.head-dev p {
    color:#FFFFFF;
}
.navba p {
    font-size:22px;
    color: #FFFFFF;
}
.icons_di button{
    background: transparent;
height:40px;
width:80px;
border-radius: 9px;
cursor:pointer;
transition: 0.4s;
color:#FFFFFF;
border: 1px solid  #FFFFFF;
}
.icons_di button:hover{
    background-color: black;
    color:white;
    border: 1px solid  black;
}
.navbar_menu .yes{
    border-bottom: 2px solid #FFFFFF;
  padding-bottom: 3px;
 ;
}
.navba p {
cursor: pointer;
}
.cart_div{
    position:relative;
}

.top{
    position:absolute;
    background-color: #FFFFFF;
    top:-12px;/*'-' car L'élément monte de 8px par rapport au haut du parent.*/
    right: -12px;
 min-width:13px;
  min-height:10px;
    border-radius: 10px;
    color:white;
    display:flex;
    justify-content: center;
}
.second-div{
    position:absolute;
    top:35% ;
    left:42%;
     display:flex;
    gap:20px;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width:400px;
}
.btn{
    width: 210px;
height: 70px;
  background: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
}
.btn:hover{
    background-color: black;
    color:white;
    border: 1px solid  black;
}
.second-div h1{
    font-weight:700px;
}
.second-div p{
    font-weight:700px;
    text-align: center;
}